html,
body {
  height: 100vh;
  margin: 0;
  font-family: "Baloo Thambi 2", cursive;
}
html {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  }
  ::-webkit-scrollbar {
  width: 0px;
  background: transparent
  }

.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 200px;
  margin: auto;
  float: left;
  width: 20%;
  padding: 0 10px;
}

.card img {
  width: 100%;
}

.down img {
  max-width: 30px;
}

.downBottom{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 95%;
}

.textContent{
  width: 60vw;
  top: 95%;
}

.navTop {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  color: rgb(8, 72, 102);
  text-align: right;
}

.navBotoom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(8, 72, 102);
  text-align: right;
}

.inline {
  display: inline-block;
  margin: 10px;
  font-size: 30px;
}

.left_menu {
  float: left;
}

.to_hand{
  cursor: pointer;
}

h3 {
  font-size: 3rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
